:root {
  --primary-color: rgb(25, 145, 189);
  --open-status-color: rgb(85, 218, 107);
  --progress-status-color: rgb(193, 54, 240);
  --review-status-color: rgb(255, 79, 26);
  --done-status-color: rgb(0, 119, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
}

input,
select,
textarea {
  padding: 8px;
  font-family: inherit;
}

.modal {
  position: relative;
  background-color: rgb(243, 244, 246);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  overflow: auto;
  width: 80%;
  max-width: 500px;
  padding: 25px;
}

.modalWrapper {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgba(107, 114, 128, 0.5);
  backdrop-filter: blur(2px);
  z-index: 10;
  width: 100%;
  min-height: 100vh;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.modalCloseButton:hover {
  color: rgb(216, 43, 43);
}

.modalCloseButton:active {
  transform: scale(0.8);
}
