.navbar {
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex: row;
  gap: 20px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: var(--primary-color);
  padding: 10px 15px;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:active {
  transform: scale(0.98);
}
