.tableContainer {
  margin: 25px;
  padding: 10px;
  width: 100%;
}

.table {
  width: 100%;
  border-spacing: 0 10px;
  border: none;
}

.table thead {
  padding: 10px;
  color: rgb(111, 111, 111);
  text-transform: uppercase;
}

.table th,
.table td {
  padding: 8px;
}

.table th {
  background-color: #fff;
  text-align: left;
}

.table tr {
  background-color: rgb(243, 244, 246);
}

.table tbody tr:hover {
  filter: brightness(0.96);
}

.table td {
  padding: 10px;
}

.dataRow:hover {
  cursor: pointer;
}

.dataRow td:first-child,
.dataRow th:first-child {
  border-radius: 4px 0 0 4px;
}

.dataRow td:last-child,
.dataRow th:last-child {
  border-radius: 0 4px 4px 0;
}

.tableIconBtn {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  margin: 5px;
}

.tableIcons {
  vertical-align: sub;
}

.tableActiveSortIcon {
  color: var(--primary-color);
}

.status {
  background-color: rgb(85, 218, 107);
  border-radius: 4px;
  color: #fff;
  padding: 2px 8px;
  text-align: center;
  width: fit-content;
  word-break: break-word;
}

.openBg {
  background-color: var(--open-status-color);
}

.progressBg {
  background-color: var(--progress-status-color);
}

.reviewBg {
  background-color: var(--review-status-color);
}

.doneBg {
  background-color: var(--done-status-color);
}

.tableCreateNewTask {
  border: 1px dashed var(--primary-color);
  border-radius: 4px;
  color: rgb(111, 111, 111);
  cursor: pointer;
}

.tableCreateNewTaskDisabled {
  cursor: not-allowed;
}

.tableFilterForm {
  float: right;
  color: rgb(111, 111, 111);
}

.tableFilterForm fieldset {
  display: inline-block;
  border: none;
  margin: 5px;
}

.tableFilterForm select {
  border: 1px solid rgb(111, 111, 111);
  border-radius: 4px;
  color: rgb(111, 111, 111);
}
