.taskModalContainer {
  width: 100%;
}

.taskModalForm {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.taskModalFormRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.taskModalFormColumn {
  display: flex;
  flex-flow: column;
  min-width: 48%;
}

.taskModalFormInput {
  border: none;
  border-radius: 3px;
}

.taskModalBtn {
  padding: 5px;
  border-radius: 0.375rem;
  border-style: none;
  color: #fff;
  cursor: pointer;
  line-height: 1.25rem;
}

.taskModalBtn:hover {
  filter: brightness(0.9);
}

.taskModalBtn:active {
  transform: scale(0.98);
}

.taskModalBtnSubmit {
  background-color: rgb(48, 174, 48);
}

.taskModalBtnDelete {
  background: rgb(216, 43, 43);
}
